* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}
body {
  font-family: "Tajawal", sans-serif;
  background: #d9e2ec;
  overflow-x: hidden;
}
 img {
 
  border:2px solid;
  font-weight:lighter;
  padding:5px;
  border-radius:100px;
  box-shadow:0 0px 4px rgba(0,0,0,.3),0 -1px 1px rgba(0,0,0,.3);
  display:inline-block;
  height:100px;
  overflow:hidden;
  margin:10px 0;
  width:100px;
  text-align:center

   /*
  width: 50x;
  height:40px;
  text-align: center;
  margin: auto;
  display: flex;
  justify-content: center;
   border-raduis:35px
   */
   
}

h1 {
  width: 50%;
  height: 50%;
  text-align: center;
  margin: auto;
  display: flex;
  justify-content: center;
  color:black;
  
}
