* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}
body {
  font-family: "Tajawal", sans-serif;
  background: #d9e2ec;
  overflow-x: hidden;
}
 img {
  width: 40px;
  height: 40px;
  text-align: center;
  margin: auto;
  display: flex;
  justify-content: center;
     border-radius: 50%; 
 -webkit-border-radius: 50%; 
  -moz-border-radius: 50%;  
   
}

h1 {
  width: 50%;
  height: 50%;
  text-align: center;
  margin: auto;
  display: flex;
  justify-content: center;
  color:black;
  
}
